{% extends "base.html" %}

{% block title %} Home page {%endblock title %}

{% block content %}

{% load static %}

<div class="bg-main position-relative" style="background: url('https://images.unsplash.com/photo-1502700807168-484a3e7889d0?auto=format&fit=crop&q=80&w=1774&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');  height: 100vh; background-size: cover; background-color: rgba(0, 0, 0,0.5) ;">
<div class="blr-main position-absolute top-0 left-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5); z-index: 0"></div>
<div class="container header position-relative" style="z-index: 1">
    
    <div class="d-flex justify-content-between py-3">
        <div class="logo h3 text-white">BrandName</div>
        <div class="navbar d-flex gap-4">
            <a href="" class="fw-bold text-white txt-top">Home</a>
            <a href="" class="fw-bold text-white txt-top">Pricing</a>
            <a href="" class="fw-bold text-white txt-top">Product</a>
            <a href="" class="fw-bold text-white txt-top">Contact</a>
        
        </div>
        <div class="header-btn">
            <button class="btn btn-light bg-gradient fw-bold btn-all">Login</button>
            <button class="btn btn-light bg-gradient fw-bold btn-all">Join us <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

    <div class="bottom-text d-inline-block text-white" style="margin-top: 200px;">
        <h4 class="mb-4 text-white">For Better Future</h4>
        <h1 class="mb-4">Best Learning Opportunities</h1>
        <p class="mb-4">Our goal is to make online education work for everyone</p>
        <button class="btn btn btn-light bg-gradient fw-bold btn-all">Join us</button>
    </div>
</div>

</div>

<div class="bg-wrapper" style="background-color: #242424;">
    <div class="statistics container d-flex justify-content-between text-white space_btw pt-80">
        <div>
            <h2 class="d-flex justify-content-center"><span class="counter">15</span>K</h2>
            <p class="d-flex">HAPPY CUSTOMERS</p>
        </div>
        <div>
            <h2 class="d-flex justify-content-center"><span class="counter">150</span>K</h2>
            <p class="d-flex">MONTHLY VISITORS</p>
        </div>
        <div>
            <h2 class="d-flex justify-content-center"><span class="counter">15</span></h2>
            <p class="d-flex">COUNTRIES WORLDWIDE</p>
        </div>
        <div>
            <h2 class="d-flex justify-content-center"><span class="counter">100</span>+</h2>
            <p class="d-flex">TOP PARTNERS</p>
        </div>
    </div>

    <div class="client-matters container d-flex pt-80 text-white align-items-center ">
        <div class="txt-client mb-30 w-50">
            <div class="line-title mb-30"></div>
            <h2 class=" mb-30 ">Every Client Matters</h2>
            <p class=" mb-30">Problems trying to resolve the conflict between 
                the two major realms of Classical physics: 
                Newtonian mechanics </p>
            <button class="btn btn btn-light bg-gradient fw-bold d-flex align-items-center mb-30 gap-1 btn-all">Learn more <i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div class="client-grid text-black w-50 v-brd ">
            <div class="client-card d-flex align-items-center justify-content-center flex-column p-3 gap-3">
                <div class="icon-crc d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-computer" style="color: #000000;"></i>
                </div>
                <h5 class="">Lifetime access</h5>
                <div class="line-grid"></div>
                <p class="">The gradual 
                    accumulation of 
                    information about </p>
            </div>
            <div class="client-card d-flex align-items-center justify-content-center flex-column p-3 gap-3">
                <div class="icon-crc d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-microscope" style="color: #000000;"></i>
                </div>
                <h5 class="">Training Courses</h5>
                <div class="line-grid"></div>
                <p class="">The gradual 
                    accumulation of 
                    information about </p>
            </div>
            <div class="client-card d-flex align-items-center justify-content-center flex-column p-3 gap-3 card-3">
                <div class="icon-crc d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-graduation-cap" style="color: #000000;"></i>
                </div>
                <h5 class="">Expert instruction</h5>
                <div class="line-grid"></div>
                <p class="">The gradual 
                    accumulation of 
                    information about </p>
            </div>
        </div>
    </div>
    
    <div class="courses container d-flex pt-80 text-white align-items-center text-end">
        <div class="course-img text-black w-50">
            <img src={% static "assets/img/bg-course.png" %} alt="">
        </div>
        <div class="txt-client mb-30 w-50">
            <div class="line-title mb-30 ml-auto"></div>
            <h2 class=" mb-30">Most Popular Courses</h2>
            <p class=" mb-30">Problems trying to resolve the conflict between 
                the two major realms of Classical physics: 
                Newtonian mechanics </p>
            <button class="btn btn btn-light bg-gradient fw-bold d-flex align-items-center mb-30 gap-1 ml-auto btn-all">Learn more <i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>

    <div class="client-matters container d-flex pt-80 text-white align-items-center">
        <div class="txt-client mb-30 w-50">
            <div class="line-title mb-30"></div>
            <h2 class=" mb-30">Watch our Courses</h2>
            <p class=" mb-30">Problems trying to resolve the conflict between 
                the two major realms of Classical physics: 
                Newtonian mechanics </p>
            <button class="btn btn btn-light bg-gradient fw-bold d-flex align-items-center mb-30 gap-1 btn-all">Learn more <i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div class="client-grid text-black w-50">
            <iframe class="videos" width="500" height="265" src="https://www.youtube.com/embed/r-98YRAF1dY?si=lDALzZxswN2VEpeH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius: 25px;"></iframe>
        </div>
    </div>

    <div class="client-matters container pt-80 text-white align-items-center">
        <div class="txt-client mb-30 text-center">
            <h4>Welcome</h4>
            <h1>Approdable Packages</h1>
            <p>Problems trying to resolve the conflict between 
                the two major realms of Classical physics: Newtonian mechanics </p>
        </div>
        <div class="course-prc d-flex gap-4 justify-content-center">
            <div class="card" style="width: 20rem;">
                <div class="position-relative">
                    <div class="sl-tag position-absolute "><span class="sl-txt">sale</span></div>
                    <img src={% static "assets/img/altumcode-dC6Pb2JdAqs-unsplash.jpg" %} class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
                    <div class="position-absolute icn-crs d-flex gap-2">
                        <span class="crc-crs d-flex justify-content-center align-items-center"><i class="fa-solid fa-heart"></i></span>
                        <span class="crc-crs d-flex justify-content-center align-items-center"><i class="fa-solid fa-cart-shopping"></i></span>
                        <span class="crc-crs d-flex justify-content-center align-items-center"><i class="fa-solid fa-eye"></i></span>
                    </div>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-start"><h5 class="card-title">Computer science</h5><span class="rating"><i class="fa-regular fa-star" style="color: #e8ff75;"></i><span> 4.6</span></span></div>
                  <p class="card-text ellipsis">Stand out in the fastest growing field with an information technology degree</p>
                  <i class="fa-solid fa-download mb-3" style="color: #141414;"></i><span> 131 sales</span>
                  <div class=""><span class="text-decoration-line-through" style="color: grey;">$16.48</span><span style="color: red;font-weight: 600;"> $6.48</span></div>
                  <button class="btn-ovl fw-bold d-flex align-items-center gap-1 mt-3">Learn more <i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>

            <div class="card" style="width: 20rem;">
                <div class="position-relative">
                    <div class="sl-tag position-absolute "><span class="sl-txt">sale</span></div>
                    <img src={% static "assets/img/sven-mieke-fteR0e2BzKo-unsplash.jpg" %} class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
                    <div class="position-absolute icn-crs d-flex gap-2">
                        <span class="crc-crs d-flex justify-content-center align-items-center"><i class="fa-solid fa-heart"></i></span>
                        <span class="crc-crs d-flex justify-content-center align-items-center"><i class="fa-solid fa-cart-shopping"></i></span>
                        <span class="crc-crs d-flex justify-content-center align-items-center"><i class="fa-solid fa-eye"></i></span>
                    </div>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-start"><h5 class="card-title">Engineering</h5><span class="rating"><i class="fa-regular fa-star" style="color: #e8ff75;"></i><span> 4.8</span></span></div>
                  <p class="card-text ellipsis">Develops problem solving skills and is strengthened by integrated work placement, and practical hands-on design-and-build activities.</p>
                  <i class="fa-solid fa-download mb-3" style="color: #141414;"></i><span> 119 sales</span>
                  <div class=""><span class="text-decoration-line-through" style="color: grey;">$16.48</span><span style="color: red;font-weight: 600;"> $8.55</span></div>
                  <button class="btn-ovl fw-bold d-flex align-items-center gap-1 mt-3">Learn more <i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>

            <div class="card" style="width: 20rem;">
                <div class="position-relative">
                    <div class="sl-tag position-absolute "><span class="sl-txt">sale</span></div>
                    <img src={% static "assets/img/anna-kolosyuk-D5nh6mCW52c-unsplash.jpg" %} class="card-img-top" alt="..." style="height: 200px; object-fit: cover;">
                    <div class="position-absolute icn-crs d-flex gap-2">
                        <span class="crc-crs d-flex justify-content-center align-items-center"><i class="fa-solid fa-heart"></i></span>
                        <span class="crc-crs d-flex justify-content-center align-items-center"><i class="fa-solid fa-cart-shopping"></i></span>
                        <span class="crc-crs d-flex justify-content-center align-items-center"><i class="fa-solid fa-eye"></i></span>
                    </div>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-start"><h5 class="card-title">Visual and performing Art </h5><span class="rating "><i class="fa-regular fa-star" style="color: #e8ff75;"></i><span> 4.7</span></span></div>
                  <p class="card-text ellipsis">Gain industry-relevant skills while perusing your passions with a UniSQ Visual and Performing Arts course.</p>
                  <i class="fa-solid fa-download mb-3" style="color: #141414;"></i><span> 78 sales</span>
                  <div class=""><span class="text-decoration-line-through" style="color: grey;">$16.48</span><span style="color: red;font-weight: 600;"> $5.26</span></div>
                  <button class="btn-ovl fw-bold d-flex align-items-center gap-1 mt-3">Learn more <i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <section class="container pt-80 text-white align-items-center">

        <div class="txt-client mb-30">
            <h4>Team</h4>
            <h1>Our experts teachers</h1>
            <p>Problems trying to resolve the conflict between 
                the <br> two major realms of Classical physics: Newtonian mechanics </p>
        </div>

        <div class="sct-tcrs owl-carousel owl-theme">
            <div class="card" style="box-shadow: #9fa19f 0px 3px 6px, #9fa19f 0px 3px 6px;">
                <div class="position-relative w-100">
                    <img src={% static "assets/img/prf_1.png" %} class="card-img-top brd-card-tcr" alt="..." style="height: 200px; object-fit: cover;width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5 style="font-size: 18px;">Madeleine Albright </h5>
                    <p>Profession</p>
                    <div class="icon-tcrs d-flex align-items-center justify-content-center gap-3">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>
                    </div>
                </div>
            </div>
    
            <div class="card" style="box-shadow: #9fa19f 0px 3px 6px, #9fa19f 0px 3px 6px;">
                <div class="position-relative w-100">
                    <img src={% static "assets/img/prf_2.png" %} class="card-img-top brd-card-tcr" alt="..." style="height: 200px; object-fit: cover;width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5>David Brooks</h5>
                    <p>Profession</p>
                    <div class="icon-tcrs d-flex align-items-center justify-content-center gap-3">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>
                    </div>
                </div>
            </div>
    
            <div class="card" style="box-shadow: #9fa19f 0px 3px 6px, #9fa19f 0px 3px 6px;">
                <div class="position-relative w-100">
                    <img src={% static "assets/img/prf_3.png" %} alt="..." style="height: 200px; object-fit: cover;width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5>Junot Diaz </h5>
                    <p>Profession</p>
                    <div class="icon-tcrs d-flex align-items-center justify-content-center gap-3">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>
                    </div>
                </div>
            </div>
    
            <div class="card" style="box-shadow: #9fa19f 0px 3px 6px, #9fa19f 0px 3px 6px;">
                <div class="position-relative w-100">
                    <img src={% static "assets/img/prf-4.png" %} class="card-img-top brd-card-tcr" alt="..." style="height: 200px; object-fit: cover;width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5>Henry Louis</h5>
                    <p>Profession</p>
                    <div class="icon-tcrs d-flex align-items-center justify-content-center gap-3">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>
                    </div>
                </div>
            </div>
    
            <div class="card" style="box-shadow: #9fa19f 0px 3px 6px, #9fa19f 0px 3px 6px;">
                <div class="position-relative w-100">
                    <img src={% static "assets/img/prf_5.png" %} class="card-img-top brd-card-tcr" alt="..." style="height: 200px; object-fit: cover;width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5>Paul Krugman</h5>
                    <p>Profession</p>
                    <div class="icon-tcrs d-flex align-items-center justify-content-center gap-3">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>
                    </div>
                </div>
            </div>

            <div class="card" style="box-shadow: #9fa19f 0px 3px 6px, #9fa19f 0px 3px 6px;">
                <div class="position-relative w-100">
                    <img src={% static "assets/img/prf_6.png" %} class="card-img-top brd-card-tcr" alt="..." style="height: 200px; object-fit: cover;width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5>Leonard Maltin</h5>
                    <p>Profession</p>
                    <div class="icon-tcrs d-flex align-items-center justify-content-center gap-3">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>
                    </div>
                </div>
            </div>

            <div class="card" style="box-shadow: #9fa19f 0px 3px 6px, #9fa19f 0px 3px 6px;">
                <div class="position-relative w-100">
                    <img src={% static "assets/img/prf_7.png" %} class="card-img-top brd-card-tcr" alt="..." style="height: 200px; object-fit: cover;width: 100%;">
                </div>
                <div class="card-body text-center">
                    <h5>Salman Rushdie</h5>
                    <p>Profession</p>
                    <div class="icon-tcrs d-flex align-items-center justify-content-center gap-3">
                        <a href=""><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock content %}

